@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*:not(fieldset) {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', serif;
}

#mapa {
    width: 100%;
}

#h1 {
    text-align: center;
}

.h2 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

.p-texto{
    font-size: large;
    margin-right: 52px;
    margin-left: 52px;
    font-weight: 550;
}

.p-slider{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

#a-h1-projeto{
    text-decoration: none;
    color: #fff;
}

#a-h1-projeto:hover{
    color: rgb(197, 197, 197);
}

.product-slider-heading{
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    margin: 0px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    margin: 0px 20px;
    position: relative;
}

.p-img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a,
.p-img{
    width: 100%;
    height: 300px;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
 }

.p-img-back{
    display: none;

}

.p-img-container:hover .p-img-back{
    display: block;
}

.p-img-container:hover .p-img-front{
    display: none;
}

@keyframes fade {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.p-box-text{
    margin-top: 5px;
    width: 100%;
}

.product-category{
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-category span{
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.product-title{
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-title:hover{
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.price-buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price-buy .p-price{
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}

.price-buy .p-buy-btn{
    color: #e63b3b;
    margin: 0px 5px;
    font-weight: 600;
}

.price-buy .p-buy-btn:hover{
    text-decoration: underline;
    
}

.p-discount{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: #e63b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    letter-spacing: 1px;
    z-index: 100;
    border-radius: 3px;
}

#sectionBox {
    text-align: center;
}

.p {
    text-align: center;
}

#video {
    width: 90%;
}

.video2 {
    width: 80%;
    height: 40vw;
}

.div {
    text-align: center;
}

.footer {
    font-size: large;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#video {
    text-align: center;
}

.div2 {
    text-align: center;
}

#contatos {
    margin: 30px;
}

.legenda {
    font-weight: bold;
    border: 3px solid black;
    padding: 3px;
    border-radius: 5px;
}

.legenda:hover {
    background-color: #ccc;
    color: white;
}

#fieldset {
    border: 3px solid black;
    border-radius: 5px;
}


header {
    position: relative;
    width: 100%;
    height: 70px;
    background: rgb(8, 9, 19);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 4%;
}

.brand h1 {
    margin-left: 5%;
}

.h1-texto{
    font-size: xx-large;
    text-align: center;
}

.navbar {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    width: 60%;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-left: 4%;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    padding: 1%;
    height: 20px;
    overflow: hidden;
}

ul li:hover {
    height: 45px;
}

ul li #headIcon {
    display: block;
    font-size: 22px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

ul li a:active,
:focus {
    text-decoration: none;
    font-weight: 700;
}

#menuIcon {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        position: relative;
        display: block;
        width: 60%;
        display: none;
    }

    .navbar.navactive {
        display: inline;
    }

    .searchBox {
        position: relative;
        width: 100%;
        top: 60px;
        z-index: 221;
        left: 5%;
    }

    #menuIcon {
        display: inline;
        position: absolute;
        font-size: 25px;
        z-index: 222;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;
        width: 170vw;
    }

    .navbar ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(8, 9, 19);
        z-index: 1;
    }

    .navbar ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 50px;
        padding: 2%;
    }

    ul li #headIcon {
        display: inline-block;
        font-size: 33px;
    }

    ul li:hover {
        background: rgb(35, 36, 51);
    }

    ul li a {
        margin-left: 40px;
        font-family: 600;
    }

}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #3551b5), url(imgs/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;    
    outline: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #fff;
    columns: #fff;
    background: transparent;
    font-size: 15px;
    border-radius: 5px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 48%;
}

input:focus~label{
    top: -35px;
    font-size: 14px;
}
input:valid~label{
    top: -35px;
    font-size: 14px;
}
